.card {
    border-radius: 15px;
  }
  /* Animação suave de transição para o botão */
.btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

/* Efeito nos campos de input */
.form-control {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
